#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.75rem;
}

@media (min-width: 768px) {
  #root {
    padding: 1.25rem;
  }
}

@media (min-width: 1024px) {
  #root {
    padding: 1.5rem;
  }
}
